<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InstagramDl - Instagram Profile download</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div>
    <!--    <div>
            <form action="/userNameApi" method="get">
                <label>
                    <input type="text" name="userName">
                </label>
                <input type="submit" value="프로필 사진 받아오기">
            </form>
        </div>
        <div>
            <form action="/userIdApi" method="get">
                <label>
                    <input type="text" name="userName">
                </label>
                <input type="submit" value="userId받아오기">>
            </form>
        </div> -->
    <form name="formname1" id="formname1">
        <input type="text" name="userName" class="userName1">
    </form>
    <input type="submit" class="userProfile" value="프로필 사진 받아오기">


    <form name="formname2" id="formname2">
        <input type="text" name="userName" class="userName2">
    </form>
    <input type="submit" class="userId" value="프로필아이디 받아오기">
</div>
<div>
    <div>
        <div id="profile">

        </div>
    </div>
</div>
<div>
    <div>
        <div id="profileImage">
        </div>
        <div id="downloadBtn">
        </div>
    </div>
</div>
</body>
</html>