<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InstagramDl - Instagram Profile download</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
    <style>
        .a {
            margin:0 auto;
            padding: 20px 0px 15px;
            width:800px;
            height:60px;
            align:center;
            font-size:35px;
            font-family:Seaweed Script;
            color:#cb1334;
        }
        .aa {
            vertical-align:bottom;
            }

        .b{
            margin:0 auto;
            width:800px;
            align:center;
        }
        .bb1{
            vertical-align:sub;
            background-color:#F5D5D5;

            font-size:20px;
            padding-top:10px;
        }
        .bb2{
            vertical-align:sub;
            font-size:20px;
            padding-top:10px;
            background-color:#F3F3F3;
        }
        .bbb{
            border:1px solid #898989;
            background-color:#F5D5D5;
        }
        .bbbb{

        }

        .foot1{
            margin:0 auto;
            padding: 5px 0px 15px;
            width:800px;
            height:50px;
            align:center;
            font-size:20px;
            font-family:Seaweed Script;
        }
        body, html{
            margin:0;
        }
        a:link {
            text-decoration:none;
            color:black;
        }
        a:visited{
            text-decoration:none;
            color:black;
        }
        a:hover{
            text-decoration:none;
            color:black;
        }
        .f{
            text-align:center;
        }
        .z{
            text-align:right;
        }
        .zz{
            width:110px;
            height:30px;
        }
        .zzz{
            float:right;
            font-size:15px;
            color:#898989;
            margin-top:30px;
            font-family:Seaweed Script;
            vertical-align:middle;
        }
        .userName1{
            width:420px;
            height:30px;
        }
        .userProfile{
            background-color:#cb1334;
            border:0;
            outline:0;
            height:34px;
            color:white;
            font-family:Seaweed Script;
        }
        .xx{
            margin:0 auto;
            width:800px;
            text-align:center;
            font-size:30px;
            font-family:Seaweed Script;

        }
        .nn{
            background-color:#cb1334;
            border:0;
            outline:0;
            height:50px;
            width:200px;
            color:white;
        }
    </style>
</head>
<body>
    <div style="margin:0;">
        <header style="background-color:#f5f5f5;">
            <div class="a">
                <img class="aa" src="/images/logo.png" width="60"> InstagramDl
                <div class="zzz">
                    <table class="z">
                        <td class="zz">
                            <b><a href="/">Profile Image</a></b>
                        </td>
                        <td class="zz">
                            <b><a href="/profileId">UserId</a></b>
                        </td>
                    </table>
                </div>
            </div>

        </header>
    </div>
<!--여기까지는 헤더부분-->
        <div>
            <div class="b">
                <img src="/images/image.png">
            </div>

<!--여기까지는 그 아래 글자 사진 부분-->

        <div class="b">
            <table>
                <th class="bb1" width="400"><a href="profileImg"><img src="/images/image11.png" width="25"> Download profile</a></th>
                <th class="bb2" width="400"><a href="/profileId"><img src="/images/key.png" width="22"> Get userId</a></th>
                <tr class="bbb">

                    <td align="center" colspan="2"><br><br><br>Enter the username of Instagram you want to download<br><br>
                        <form name="formname1" id="formname1">
                            <input type="text" name="userName" class="userName1" >
                            <input type="button" class="userProfile" value="Click">
                        </form>
                        <br><br><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<!--여기까지는 헤더부분-->
    <br>
    <div>
        <div class="xx">
            <div id="profile">
            </div>
        </div>
    </div>

    <!--여기까지는 헤더부분-->
    <br>
    <div>
        <div class="b">
            <h3>What Is Instagram Profile Downloader ?</h3>
            free Instagram Downloader online ( SaveInsta website ) can be used to; download Instagram videos in high quality mp4, download Instagram stories and highlights, download photos and profile pictures, download reels, and you can also download from private Instagram. Firstly, just copy the link of the video or the image. Secondly, paste it in the box here. Lastly, save it to your device whether it is Android, iPhone, or PC.
        </div>
        <div class="b">
            <br>

            <h3>You can download all images.</h3>
            <div class="f"><img src="/images/image1.jpg" width="370"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/images/image2.jpg" width="370"></div>
        </div>
    </div>

    <div>
        <div>
            <div id="profile">

            </div>
        </div>
    </div>



    <br>
    <br>

<footer style="background-color:#f5f5f5;" class="wrapper">
    <div class="foot1">
    <b>Hongik University CE Online Graduation Exhibition </b> <br><span style="font-size:13px">Copyright &copy; by KIM BYEONG SOO All Rights Reserved</span>
    </div>
</footer>
</body>
</html>